Caddy HTML Template for Frontend output

VERSION 1.2.2

  ###CADDY_LL_EMPTY###

--- Markers inside -------------------------------------------------------------

  ###DELETE###            Delete current product        
  ###TARGET###            Link to the same page

  ###UID###               Product UID
  ###TITLE###             Producttitle            ###CADDY_LL_TITLE###
  ###QTY###               Quantity                ###CADDY_LL_QTY###
  ###QTY_NAME###          With key/field pairs in case of variants
  ###PRICE###             Price (Gross)           ###CADDY_LL_PRICE###
  ###PRICE_TOTAL###       Total Price (Gross)     ###CADDY_LL_PRICE_TOTAL###      Quantity * Price

  ###TAX_PRICE_TOTAL###   Tax (from Total Price)    



--- Markers outside ------------------------------------------------------------

  ###SUMNET###                                  ###CADDY_LL_SUMNET###
  ###SUMGROSS###                                ###CADDY_LL_SUMGROSS###
  ###CART_SERVICE_COST###                         ###CADDY_LL_CART_SERVICE_COST###
  ###PRODUCTSGROSS###

  ###SUMTAXNORMAL###
  ###SUMTAXREDUCED###

  ###TAXRATE_NORMAL_STRING###
  ###TAXRATE_REDUCED_STRING###

  ###CADDY_LL_TAX###

--------------------------------------------------------------------------------

  Any defined marker of TS  ###ANYMARKRER###

--------------------------------------------------------------------------------


<!-- ###CADDY### begin --> 
<div class="caddy_cart">
	###MINPRICE###
    <form name="cart" id="cart" action="###TARGET###" method="post">
        ###VARIANTS###
        <div class="caddy_cart_header">
            <div class="caddy_cart_col caddy_cart_col1">###CADDY_LL_QTY###</div>
	        <div class="caddy_cart_col caddy_cart_col2">###CADDY_LL_SKU###</div>
            <div class="caddy_cart_col caddy_cart_col2">###CADDY_LL_TITLE###</div>
            <div class="caddy_cart_col caddy_cart_col3">###CADDY_LL_PRICE###</div>
            <div class="caddy_cart_col caddy_cart_col4">###CADDY_LL_PRICE_TOTAL###</div>
            <div class="caddy_cleaner"></div>
        </div>
        <!-- ###CONTENT### -->
        <!-- ###ITEM### -->
        <div class="caddy_cart_product">
            <div class="caddy_cart_col caddy_cart_col1">
              <input  type="text" value="###QTY###" name="###QTY_NAME###" onchange="this.form.submit()" />
            </div>
	        <div class="caddy_cart_col caddy_cart_col2">###SKU###</div>
            <div class="caddy_cart_col caddy_cart_col2">###TITLE###</div>
            <div class="caddy_cart_col caddy_cart_col3">###PRICE###</div>
            <div class="caddy_cart_col caddy_cart_col4">###PRICE_TOTAL###</div>
            <div class="caddy_cart_col caddy_cart_col5">###DELETE###</div>
            <div class="caddy_cleaner"></div>
			<div class="caddy_cart_error">###ERROR_MSG###</div>
        </div>
        <!-- ###ITEM### -->
        <!-- ###CONTENT### -->
        <div class="caddy_cart_footer">                        
            <div class="caddy_cart_col caddy_cart_col1_2">###CADDY_LL_SUMNET###</div>
            <div class="caddy_cart_col caddy_cart_col3_4">###PRODUCTSNET###</div>
            <div class="caddy_cleaner"></div>
            <div class="caddy_cart_col caddy_cart_col1_2">###CADDY_LL_SERVICE_COST###</div>
            <div class="caddy_cart_col caddy_cart_col3_4">###OPTIONSNET###</div>
            <div class="caddy_cleaner"></div>
            <div class="caddy_cart_col caddy_cart_col1_2">###CADDY_LL_TAX###</div>
            <div class="caddy_cart_col caddy_cart_col3_4"></div>
            <div class="caddy_cleaner"></div>
            <div class="caddy_cart_col caddy_cart_col1_2">###TAXRATE_NORMAL_STRING###<br />###TAXRATE_REDUCED_STRING###</div>
            <div class="caddy_cart_col caddy_cart_col3_4">###SUMTAXNORMAL###<br />###SUMTAXREDUCED###</div>
            <div class="caddy_cleaner"></div>
            <div class="caddy_cart_col caddy_cart_col1_2">###CADDY_LL_GROSS_TOTAL###</div>
            <div class="caddy_cart_col caddy_cart_col3_4">###SUMGROSS###</div>
            <div class="caddy_cleaner"></div>
        </div>
        ###SHIPPING_RADIO###
        ###PAYMENT_RADIO###
        ###SPECIAL_CHECKBOX###
    </form>
</div>
<!-- ###CADDY### end -->


<!-- ###CADDY_SHIPPING### begin -->
<div id="caddy_shipping">
    <fieldset>
        <legend>###CADDY_LL_SHIPPING###</legend>
        <!-- ###CONTENT### --><!-- ###ITEM### -->
        <div class="caddy_cart_fieldwrap_radio">###SHIPPING_RADIO### ###SHIPPING_TITLE### ###SHIPPING_CONDITION###</div>
        <!-- ###ITEM### --><!-- ###CONTENT### -->
    </fieldset>
</div>
<!-- ###CADDY_SHIPPING### end -->


<!-- ###CADDY_SHIPPING_CONDITIONS### begin -->
<ul class="caddy_shipping_conditions">
	<!-- ###CONTENT### --><!-- ###ITEM### -->
    <li>###CONDITION###</li>
    <!-- ###ITEM### --><!-- ###CONTENT### -->
</ul>
<!-- ###CADDY_SHIPPING_CONDITIONS### end -->


<!-- ###CADDY_PAYMENT### begin -->
<div id="caddy_payment">
    <fieldset>
        <legend>###CADDY_LL_PAYMENT###</legend>
        <!-- ###CONTENT### --><!-- ###ITEM### -->
        <div class="caddy_cart_fieldwrap_radio">###PAYMENT_RADIO### ###PAYMENT_TITLE### ###PAYMENT_CONDITION###</div>
        <!-- ###ITEM### --><!-- ###CONTENT### -->
    </fieldset>
</div>
<!-- ###CADDY_PAYMENT### end -->


<!-- ###CADDY_PAYMENT_CONDITIONS### begin -->
<ul class="caddy_payment_conditions">
	<!-- ###CONTENT### --><!-- ###ITEM### -->
    <li>###CONDITION###</li>
    <!-- ###ITEM### --><!-- ###CONTENT### -->
</ul>
<!-- ###CADDY_PAYMENT_CONDITIONS### end -->


<!-- ###CADDY_SPECIAL### begin -->
<div id="caddy_special">
    <fieldset>
        <legend>###CADDY_LL_SPECIAL###</legend>
        <!-- ###CONTENT### --><!-- ###ITEM### -->
        <div class="caddy_cart_fieldwrap_checkbox">###SPECIAL_CHECKBOX### ###SPECIAL_TITLE### ###SPECIAL_CONDITION###</div>
        <!-- ###ITEM### --><!-- ###CONTENT### -->
    </fieldset>
</div>
<!-- ###CADDY_SPECIAL### end -->


<!-- ###CADDY_SPECIAL_CONDITIONS### begin -->
<ul class="caddy_special_conditions">
	<!-- ###CONTENT### --><!-- ###ITEM### -->
    <li>###CONDITION###</li>
    <!-- ###ITEM### --><!-- ###CONTENT### -->
</ul>
<!-- ###CADDY_SPECIAL_CONDITIONS### end -->


<!-- ###CADDY_EMPTY### begin -->
<div class="caddy_cart_empty">###CADDY_LL_EMPTY###</div>
<!-- ###CADDY_EMPTY### end -->


<!-- ###CADDY_MINPRICE### begin -->
<div class="caddy_cart_mincart caddy_cart_error">###ERROR_MINPRICE###</div>
<!-- ###CADDY_MINPRICE### end -->


<!-- ###CADDY_POWERMAIL### begin -->
###ORDERNUMBER###
<table width="500" cellpadding="3" cellspacing="0" bgcolor="cccccc" border="1">
    <tr style="font-weight: bold;">
        <td>###CADDY_LL_QTY###</td>
	    <td>###CADDY_LL_SKU###</td>
        <td>###CADDY_LL_TITLE###</td>
        <td>###CADDY_LL_PRICE###</td>
        <td>###CADDY_LL_PRICE_TOTAL###</td>
    </tr>
    <!-- ###CONTENT### -->
    <!-- ###ITEM### -->
    <tr>
        <td>###QTY###</td>
		<td>###SKU###</td>
        <td>###TITLE###</td>
        <td>###PRICE###</td>
        <td>###PRICE_TOTAL###</td>
    </tr>
    <!-- ###ITEM### -->
    <!-- ###CONTENT### -->
    <tr>
        <td colspan="5">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2">
                    	###CADDY_LL_SUMNET###
					</td>
                    <td>&nbsp;</td>
                    <td>###PRODUCTSNET###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2">
                    	###CADDY_LL_SERVICE_COST###
					</td>
                    <td>&nbsp;</td>
                    <td>###OPTIONSNET###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2">
                    	###CADDY_LL_TAX###
					</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2">
                    	###TAXRATE_NORMAL_STRING###
					</td>
                    <td>&nbsp;</td>
                    <td>###SUMTAXNORMAL###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td width="30">&nbsp;</td>
                    <td colspan="2">
                    	###TAXRATE_REDUCED_STRING###
					</td>
                    <td>&nbsp;</td>
                    <td>###SUMTAXREDUCED###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td width="30">&nbsp;</td>
                    <td colspan="2">
                    	###CADDY_LL_GROSS_TOTAL###
					</td>
                    <td>&nbsp;</td>
                    <td>###SUMGROSS###</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            ###CADDY_LL_SHIPPING###
        </td>
        <td colspan="3">
            ###SHIPPING_OPTION###
        </td>
    </tr>
    <tr>
        <td colspan="2">
            ###CADDY_LL_PAYMENT###
        </td>
        <td colspan="3">
            ###PAYMENT_OPTION###
        </td>
    </tr>
    <tr>
        <td colspan="2">
            ###CADDY_LL_SPECIAL###
        </td>
        <td colspan="3">
            ###SPECIAL_OPTION###
        </td>
    </tr>
</table>
<br />
###PAYMENT_NOTE###
<!-- ###CADDY_POWERMAIL### end -->


<!-- ###CADDY_FORM### begin --> 
<div class="caddy_form">
	<form action="###CADDY_FORM_ACTION###">
		<input type="hidden" value="###CADDY_FORM_CONTENTUID###" name="cid">
		<input type="hidden" value="###CADDY_FORM_ACTION_PID###" name="id">
		<input type="text" value="1" name="qty">
		<input type="submit" value="###CADDY_LL_FORM_SUBMIT###">
	</form>
</div>
<!-- ###CADDY_FORM### end -->


<!-- ###CADDY_MINICART### begin --> 
<div class="caddy_minicart">
	<div>###MINICART_COUNT### ###CADDY_LL_COUNT_PRODUCTS_IN_CART###</div>
	<div>###MINISUMGROSS###</div>
	<div>###MINICART_LINK###</div>
</div>
<!-- ###CADDY_MINICART### end -->


<!-- ###CADDY_MINICART_EMPTY### begin --> 
<div class="caddy_minicart_empty">###CADDY_LL_MINICART_EMPTY###</div>
<!-- ###CADDY_MINICART_EMPTY### end -->