VERSION
=======
2.0.0: 13-03-08

INDEX
=====

* CADDY
  * CONTENT
    * ITEM

* CADDY_SHIPPING
* CADDY_SHIPPING_CONDITIONS
* CADDY_PAYMENT
* CADDY_PAYMENT_CONDITIONS
* CADDY_SPECIAL
* CADDY_SPECIAL_CONDITIONS

* CADDY_EMPTY

* CADDY_MINPRICE

* CADDY_POWERMAIL

* CADDY_FORM 

* CADDY_MINICART 
* CADDY_MINICART_EMPTY 


<!-- ###CADDY### begin --> 
<div class="caddy_cart">
  ###MINPRICE###
  <form name="cart" id="cart" action="###TARGET###" method="post">
    ###VARIANTS###
    <div class="caddy_cart_header">
      <div class="caddy_cart_col caddy_cart_col1">###CADDY_LL_QTY###</div>
      <div class="caddy_cart_col caddy_cart_col2">###CADDY_LL_SKU###</div>
      <div class="caddy_cart_col caddy_cart_col3">###CADDY_LL_ITEM###</div>
      <div class="caddy_cart_col caddy_cart_col4">###CADDY_LL_PRICE###</div>
      <div class="caddy_cart_col caddy_cart_col5">###CADDY_LL_PRICE_TOTAL###</div>
      <div class="caddy_cleaner"></div>
    </div>
    <!-- ###CONTENT### -->
    <!-- ###ITEM### -->
    <div class="caddy_cart_product">
      <div class="caddy_cart_col caddy_cart_col1">
        <input  type="text" value="###QTY###" name="###QTY_NAME###" onchange="this.form.submit()" />
      </div>
      <div class="caddy_cart_col caddy_cart_col2">###SKU###</div>
      <div class="caddy_cart_col caddy_cart_col3">###TITLE###</div>
      <div class="caddy_cart_col caddy_cart_col4">###PRICE###</div>
      <div class="caddy_cart_col caddy_cart_col5">###PRICE_TOTAL###</div>
      <div class="caddy_cart_col caddy_cart_col6">###DELETE###</div>
      <div class="caddy_cleaner"></div>
      <div class="caddy_cart_error">###ERROR_MSG###</div>
    </div>
    <!-- ###ITEM### -->
    <!-- ###CONTENT### -->
    <div class="caddy_cart_footer">                        
      <div class="caddy_cart_col caddy_cart_col1 caddy_cart_col_strong">#</div>
      <div class="caddy_cart_col caddy_cart_col2_4 caddy_cart_col_strong">###CADDY_LL_PRODUCTSNET###</div>
      <div class="caddy_cart_col caddy_cart_col5 caddy_cart_col_strong">###PRODUCTSNET###</div>
      <div class="caddy_cleaner"></div>
      <div class="caddy_cart_col caddy_cart_col1">+</div>
      <div class="caddy_cart_col caddy_cart_col2_4">###CADDY_LL_OPTIONSNET###</div>
      <div class="caddy_cart_col caddy_cart_col5">###OPTIONSNET###</div>
      <div class="caddy_cleaner"></div>
      <div class="caddy_cart_col caddy_cart_col1">+</div>
      <div class="caddy_cart_col caddy_cart_col2_4">###CADDY_LL_TAX###</div>
      <div class="caddy_cart_col caddy_cart_col5"></div>
      <div class="caddy_cleaner"></div>
      <div class="caddy_cart_col caddy_cart_col1">&nbsp;</div>
      <div class="caddy_cart_col caddy_cart_col2_4">###TAXRATE_NORMAL_STRING###<br />###TAXRATE_REDUCED_STRING###</div>
      <div class="caddy_cart_col caddy_cart_col5">###SUMTAXNORMAL###<br />###SUMTAXREDUCED###</div>
      <div class="caddy_cleaner"></div>
      <div class="caddy_cart_col caddy_cart_col1 caddy_cart_col_strong">#</div>
      <div class="caddy_cart_col caddy_cart_col2_4 caddy_cart_col_strong">###CADDY_LL_SUMGROSS###</div>
      <div class="caddy_cart_col caddy_cart_col5 caddy_cart_col_strong">###SUMGROSS###</div>
    <div class="caddy_cleaner"></div>
    </div>
    ###SHIPPING_RADIO###
    ###PAYMENT_RADIO###
    ###SPECIAL_CHECKBOX###
  </form>
</div>
<!-- ###CADDY### end -->


<!-- ###CADDY_SHIPPING### begin -->
<div id="caddy_shipping">
  <fieldset>
    <legend>###CADDY_LL_SHIPPINGNET###</legend>
    <!-- ###CONTENT### --><!-- ###ITEM### -->
    <div class="caddy_cart_fieldwrap_radio">###SHIPPING_RADIO### ###SHIPPING_TITLE### ###SHIPPING_CONDITION###</div>
    <!-- ###ITEM### --><!-- ###CONTENT### -->
  </fieldset>
</div>
<!-- ###CADDY_SHIPPING### end -->


<!-- ###CADDY_SHIPPING_CONDITIONS### begin -->
<ul class="caddy_shipping_conditions">
  <!-- ###CONTENT### --><!-- ###ITEM### -->
  <li>###CONDITION###</li>
  <!-- ###ITEM### --><!-- ###CONTENT### -->
</ul>
<!-- ###CADDY_SHIPPING_CONDITIONS### end -->


<!-- ###CADDY_PAYMENT### begin -->
<div id="caddy_payment">
  <fieldset>
    <legend>###CADDY_LL_PAYMENTNET###</legend>
    <!-- ###CONTENT### --><!-- ###ITEM### -->
    <div class="caddy_cart_fieldwrap_radio">###PAYMENT_RADIO### ###PAYMENT_TITLE### ###PAYMENT_CONDITION###</div>
    <!-- ###ITEM### --><!-- ###CONTENT### -->
  </fieldset>
</div>
<!-- ###CADDY_PAYMENT### end -->


<!-- ###CADDY_PAYMENT_CONDITIONS### begin -->
<ul class="caddy_payment_conditions">
  <!-- ###CONTENT### --><!-- ###ITEM### -->
  <li>###CONDITION###</li>
  <!-- ###ITEM### --><!-- ###CONTENT### -->
</ul>
<!-- ###CADDY_PAYMENT_CONDITIONS### end -->


<!-- ###CADDY_SPECIAL### begin -->
<div id="caddy_special">
  <fieldset>
    <legend>###CADDY_LL_SPECIALNET###</legend>
    <!-- ###CONTENT### --><!-- ###ITEM### -->
    <div class="caddy_cart_fieldwrap_checkbox">###SPECIAL_CHECKBOX### ###SPECIAL_TITLE### ###SPECIAL_CONDITION###</div>
    <!-- ###ITEM### --><!-- ###CONTENT### -->
  </fieldset>
</div>
<!-- ###CADDY_SPECIAL### end -->


<!-- ###CADDY_SPECIAL_CONDITIONS### begin -->
<ul class="caddy_special_conditions">
  <!-- ###CONTENT### --><!-- ###ITEM### -->
  <li>###CONDITION###</li>
  <!-- ###ITEM### --><!-- ###CONTENT### -->
</ul>
<!-- ###CADDY_SPECIAL_CONDITIONS### end -->


<!-- ###CADDY_EMPTY### begin -->
<div class="caddy_cart_empty">###CADDY_LL_EMPTY###</div>
<!-- ###CADDY_EMPTY### end -->


<!-- ###CADDY_MINPRICE### begin -->
<div class="caddy_cart_mincart caddy_cart_error">###ERROR_MINPRICE###</div>
<!-- ###CADDY_MINPRICE### end -->


<!-- ###CADDY_POWERMAIL### begin -->
<table cellpadding="3" cellspacing="0" border="1">
  <tr style="font-weight: bold;">
    <td>
      ###CADDY_LL_QTY###
    </td>
    <td>
      ###CADDY_LL_SKU###
    </td>
    <td>
      ###CADDY_LL_ITEM###
    </td>
    <td style="text-align:right">
      ###CADDY_LL_PRICE###
    </td>
    <td style="text-align:right">
      ###CADDY_LL_PRICE_TOTAL###
    </td>
  </tr>
  <!-- ###CONTENT### -->
  <!-- ###ITEM### -->
  <tr>
    <td style="text-align:right">
      ###QTY###
    </td>
    <td>
      ###SKU###
    </td>
    <td>
      ###TITLE###
    </td>
    <td style="text-align:right">
      ###PRICE###
    </td>
    <td style="text-align:right">
      ###PRICE_TOTAL###
    </td>
  </tr>
  <!-- ###ITEM### -->
  <!-- ###CONTENT### -->
  <tr style="font-weight: bold;">
    <td style="text-align:center">
      #
    </td>
    <td colspan="3">
      ###CADDY_LL_PRODUCTSNET###
    </td>
    <td style="text-align:right">
      ###PRODUCTSNET###
    </td>
  </tr>
  <tr>
    <td style="text-align:center">
      +
    </td>
    <td colspan="3">
      ###CADDY_LL_OPTIONSNET###
    </td>
    <td style="text-align:right">
      ###OPTIONSNET###
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;
    </td>
    <td colspan="4">
      ###CADDY_LL_SHIPPINGNET### ###SHIPPING_OPTION###
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;
    </td>
    <td colspan="4">
      ###CADDY_LL_PAYMENTNET### ###PAYMENT_OPTION###
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;
    </td>
    <td colspan="4">
      ###CADDY_LL_SPECIALNET### ###SPECIAL_OPTIONS###
    </td>
  </tr>
  <tr>
    <td style="text-align:center">
      +
    </td>
    <td colspan="4">
      ###CADDY_LL_TAX###
    </td>
  </tr>
  <tr>
    <td style="text-align:center">
      &nbsp;
    </td>
    <td colspan="3">
      ###TAXRATE_NORMAL_STRING###
    </td>
    <td style="text-align:right">
      ###SUMTAXNORMAL###
    </td>
  </tr>
  <tr>
    <td style="text-align:center">
      &nbsp;
    </td>
    <td colspan="3">
      ###TAXRATE_REDUCED_STRING###
    </td>
    <td style="text-align:right">
      ###SUMTAXREDUCED###
    </td>
  </tr>
  <tr style="font-weight: bold;">
    <td style="text-align:center">
      #
    </td>
    <td colspan="3">
      ###CADDY_LL_SUMGROSS###
    </td>
    <td style="text-align:right">
      ###SUMGROSS###
    </td>
  </tr>
</table>
<br />
<!-- ###CADDY_POWERMAIL### end -->


<!-- ###CADDY_FORM### begin --> 
<div class="caddy_form">
  <form action="###CADDY_FORM_ACTION###">
    <input type="hidden" value="###CADDY_FORM_CONTENTUID###" name="cid">
    <input type="hidden" value="###CADDY_FORM_ACTION_PID###" name="id">
    <input type="text" value="1" name="qty">
    <input type="submit" value="###CADDY_LL_FORM_SUBMIT###">
  </form>
</div>
<!-- ###CADDY_FORM### end -->


<!-- ###CADDY_MINICART### begin --> 
<div class="caddy_minicart">
  <div>###MINICART_COUNT### ###CADDY_LL_COUNT_PRODUCTS_IN_CART###</div>
  <div>###MINISUMGROSS###</div>
  <div>###MINICART_LINK###</div>
</div>
<!-- ###CADDY_MINICART### end -->


<!-- ###CADDY_MINICART_EMPTY### begin --> 
<div class="caddy_minicart_empty">###CADDY_LL_MINICART_EMPTY###</div>
<!-- ###CADDY_MINICART_EMPTY### end -->