VERSION
=======
2.0.0: 13-03-08

INDEX
=====

* CADDY_DELIVERYORDER
* CADDY_INVOICE

* CADDY_PAYMENT
* CADDY_SHIPPING
* CADDY_SPECIALS


<!-- ###CADDY_DELIVERYORDER### begin -->
<table border="0" cellpadding="1" cellspacing="0">
  <tr style="font-weight: bold;">
    <td>
      ###_LOCAL_LANG_QTY###
    </td>
    <td>
      ###_LOCAL_LANG_SKU###
    </td>
    <td>
      ###_LOCAL_LANG_ITEM###
    </td>
  </tr>
  <!-- ###CONTENT### -->
  <!-- ###ITEM### -->
  <tr>
    <td align="right">
      ###QTY###
    </td>
    <td>
      ###SKU###
    </td>
    <td>
      ###TITLE###
    </td>
  </tr>
  <!-- ###ITEM### -->
  <!-- ###CONTENT### -->
</table>
<!-- ###CADDY_DELIVERYORDER### end --> 

<!-- ###CADDY_INVOICE### begin -->
<!-- <table border="1" cellpadding="1" cellspacing="0" width="100%"> -->
<table border="0" cellpadding="1" cellspacing="0">
  <tr style="font-weight: bold;">
    <td width="10%">
      ###_LOCAL_LANG_QTY###
    </td>
    <td width="25%">
      ###_LOCAL_LANG_SKU###
    </td>
    <td width="35%">
      ###_LOCAL_LANG_ITEM###
    </td>
    <td width="15%">
      ###_LOCAL_LANG_NET###
    </td>
    <td width="15%">
      ###_LOCAL_LANG_SUM###
    </td>
  </tr>
  <!-- ###CONTENT### -->
  <!-- ###ITEM### -->
  <tr>
    <td align="right">
      ###QTY###
    </td>
    <td>
      ###SKU###
    </td>
    <td>
      ###TITLE###
    </td>
    <td align="right">
      ###SUM###
    </td>
    <td align="right">
      ###SUMNET###
    </td>
  </tr>
  <!-- ###ITEM### -->
  <!-- ###CONTENT### -->
  <tr style="font-weight: bold;">
    <td align="center">
      #
    </td>
    <td colspan="3">
      ###_LOCAL_LANG_ITEMSSUMNET###
    </td>
    <td align="right">
      ###SUMITEMSNET###
    </td>
  </tr>
  <tr>
    <td align="center">
      +
    </td>
    <td colspan="3">
      ###_LOCAL_LANG_OPTIONSNET###
    </td>
    <td align="right">
      ###SUMOPTIONSNET###
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;
    </td>
    <td>
      ###_LOCAL_LANG_SHIPPINGLABEL###
    </td>
    <td>
      ###OPTIONSSHIPPINGSUMRATE### ###OPTIONSSHIPPINGSUMNET###
    </td>
    <td colspan="2">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;
    </td>
    <td>
      ###_LOCAL_LANG_PAYMENTLABEL###
    </td>
    <td>
      ###OPTIONSPAYMENTSUMRATE### ###OPTIONSPAYMENTSUMNET###
    </td>
    <td colspan="2">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;
    </td>
    <td>
      ###_LOCAL_LANG_SPECIALSLABELS###
    </td>
    <td>
      ###OPTIONSSPECIALSSUMRATE### ###OPTIONSSPECIALSSUMNET###
    </td>
    <td colspan="2">
      &nbsp;
    </td>
  </tr>
  ###SHIPPING_RADIO###
  ###PAYMENT_RADIO###
  ###SPECIALS_CHECKBOX###
  <tr>
    <td align="center">
      +
    </td>
    <td colspan="3">
      ###_LOCAL_LANG_TAX###
    </td>
    <td align="right">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;
    </td>
    <td colspan="3">
      ###TAXRATE_NORMAL_STRING###
    </td>
    <td align="right">
      ###SUMSUMTAXNORMAL###
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;
    </td>
    <td colspan="3">
      ###TAXRATE_REDUCED_STRING###
    </td>
    <td align="right">
      ###SUMSUMTAXREDUCED###
    </td>
  </tr>
  <tr style="font-weight: bold;">
    <td align="center">
      #
    </td>
    <td colspan="3">
      ###_LOCAL_LANG_SUMGROSS###
    </td>
    <td align="right">
      ###SUMSUMGROSS###
    </td>
  </tr>
</table>
<!-- ###CADDY_INVOICE### end --> 



<!-- ###CADDY_PAYMENT### begin -->
  <tr>
    <td>
      &nbsp;
    </td>
    <td>
      ###_LOCAL_LANG_PAYMENTLABEL###
    </td>
    <td>
      ###PAYMENT_TITLE###
    </td>
    <td colspan="2">
      &nbsp;
    </td>
  </tr>
<!-- ###CADDY_PAYMENT### end -->

<!-- ###CADDY_SHIPPING### begin -->
  <tr>
    <td>
      &nbsp;
    </td>
    <td>
      ###_LOCAL_LANG_SHIPPINGLABEL###
    </td>
    <td>
      ###SHIPPING_TITLE###
    </td>
    <td colspan="2">
      &nbsp;
    </td>
  </tr>
<!-- ###CADDY_SHIPPING### end -->

<!-- ###CADDY_SPECIALS### begin -->
  <tr>
    <td>
      &nbsp;
    </td>
    <td>
      ###_LOCAL_LANG_SPECIALSLABELS###
    </td>
    <td>
      ###SPECIALS_TITLE###
    </td>
    <td colspan="2">
      &nbsp;
    </td>
  </tr>
<!-- ###CADDY_SPECIALS### end -->

