VERSION
=======
4.0.1: 13-12-29

INDEX
=====

* CADDY
* CADDYACCORDION

* CADDY_ITEM_ERROR
* CADDY_PAYMENT
* CADDY_PAYMENT_CONDITIONS
* CADDY_SHIPPING
* CADDY_SHIPPING_CONDITIONS
* CADDY_SPECIALS
* CADDY_SPECIALS_CONDITIONS

* CADDY_EMPTY

* CADDY_MINPRICE

* CADDY_EMAIL
* CADDY_EMAILDELIVERY
* CADDY_REVOCATION
* CADDY_TERMS

* CADDY_FORM 

* CADDYMINI 
* CADDYMINIEMPTY 

* CADDYSUM


<!-- ###CADDY### begin --> 
<div class="caddy">
  ###MINPRICE###
  <form name="caddy" id="caddy" action="###TARGET###" method="post">
    <input type="hidden" name="tx_caddy_pi1[updateByCaddy]" value="1">
    ###VARIANTS###
    <div class="caddy_header">
      <div class="caddy_col caddy_col1">###_LOCAL_LANG_QTY###</div>
      <div class="caddy_col caddy_col2">###_LOCAL_LANG_SKU_SHORT###</div>
      <div class="caddy_col caddy_col3">###_LOCAL_LANG_ITEM###</div>
      <div class="caddy_col caddy_col4">###_LOCAL_LANG_TAX_ABBR###</div>
      <div class="caddy_col caddy_col5">###_LOCAL_LANG_PRICE_GROSS_UNIT###</div>
      <div class="caddy_col caddy_col6">###_LOCAL_LANG_PRICE_GROSS_UNIT_WI_QTY###</div>
      <div class="caddy_col caddy_col7">###_LOCAL_LANG_TABLEHEADERDELETE###</div>
      <div class="caddy_cleaner"></div>
    </div>
    <!-- ###CONTENT### -->
    <!-- ###ITEM### -->
    <div class="caddy_product">
      <div class="caddy_col caddy_col1">
        <input  type="text" value="###QTY###" name="###QTY_NAME###" onchange="this.form.submit()" />
      </div>
      <div class="caddy_col caddy_col2">###SKU###</div>
      <div class="caddy_col caddy_col3">###TITLE###</div>
      <div class="caddy_col caddy_col4">###TAXRATE###</div>
      <div class="caddy_col caddy_col5">###GROSS###</div>
      <div class="caddy_col caddy_col6">###SUMGROSS###</div>
      <div class="caddy_col caddy_col7">###DELETE###</div>
      <div class="caddy_cleaner"></div>
      ###ITEM_ERROR###
    </div>
    <!-- ###ITEM### -->
    <!-- ###CONTENT### -->
    <div class="caddy_footer">                        
      <div class="caddy_col caddy_col1 caddy_col_strong">#</div>
      <div class="caddy_col caddy_col2_5 caddy_col_strong">###_LOCAL_LANG_ITEMSSUMNET###</div>
      <div class="caddy_col caddy_col6 caddy_col_strong">###SUMITEMSNET###</div>
      <div class="caddy_cleaner"></div>
      <div class="caddy_col caddy_col1">+</div>
      <div class="caddy_col caddy_col2_5">###_LOCAL_LANG_OPTIONSNET###</div>
      <div class="caddy_col caddy_col6">###SUMOPTIONSNET###</div>
      <div class="caddy_cleaner"></div>
      <div class="caddy_col caddy_col1">+</div>
      <div class="caddy_col caddy_col2_5">###_LOCAL_LANG_TAX###</div>
      <div class="caddy_col caddy_col6 caddy_col_strong">###SUMSUMTAXSUM###</div>
      <div class="caddy_cleaner"></div>
      <div class="caddy_col caddy_col1">&nbsp;</div>
      <div class="caddy_col caddy_col2_4">###TAXRATE_NORMAL_STRING###</div>
      <div class="caddy_col caddy_col5">###SUMSUMTAXNORMAL###</div>
      <div class="caddy_col caddy_col6">&nbsp;</div>
      <div class="caddy_cleaner"></div>
      <div class="caddy_col caddy_col1">&nbsp;</div>
      <div class="caddy_col caddy_col2_4">###TAXRATE_REDUCED_STRING###</div>
      <div class="caddy_col caddy_col5">###SUMSUMTAXREDUCED###</div>
      <div class="caddy_col caddy_col6">&nbsp;</div>
      <div class="caddy_cleaner"></div>
      <div class="caddy_col caddy_col1 caddy_col_strong">#</div>
      <div class="caddy_col caddy_col2_5 caddy_col_strong">###_LOCAL_LANG_SUMGROSS###</div>
      <div class="caddy_col caddy_col6 caddy_col_strong">###SUMSUMGROSS###</div>
      <div class="caddy_cleaner"></div>
    </div>
    <div class="caddy_options">
      ###SHIPPING_RADIO###
      ###PAYMENT_RADIO###
      ###SPECIALS_CHECKBOX###
      <div class="caddy_cleaner"></div>
    </div>
  </form>
  ###_HTMLMARKER_LINKTOSHOP###
  <div class="caddy_cleaner"></div>
</div>
<!-- ###CADDY### end -->

<!-- ###CADDYACCORDION### begin --> 
<div id="c###UID###-accordion">
  <!-- ###CADDY-PRODUCT-TABLE### begin --> 
  ###_HTMLMARKER_CADDY_HEADER_ITEMS###
  <div id="c###UID###-accordion-items" class="caddy caddy-product-table pane">
    ###MINPRICE###
    <form name="caddy" id="caddy" action="###TARGET###" method="post">
      <input type="hidden" name="tx_caddy_pi1[updateByCaddy]" value="1">
      ###VARIANTS###
      <!-- ###HEADER### begin -->
      <div class="caddy-accordion_header">
        <div class="caddy-accordion_col caddy-accordion_col1">###_LOCAL_LANG_QTY###</div>
        <div class="caddy-accordion_col caddy-accordion_col2">###_LOCAL_LANG_ITEM###</div>
        <div class="caddy-accordion_col caddy-accordion_col3">###_LOCAL_LANG_PRICE_GROSS_UNIT###</div>
        <div class="caddy-accordion_col caddy-accordion_col4">###_LOCAL_LANG_PRICE_GROSS_UNIT_WI_QTY###</div>
        <div class="caddy-accordion_col caddy-accordion_col5">###_LOCAL_LANG_TABLEHEADERDELETE###</div>
        <div class="caddy_cleaner"></div>
      </div> <!-- /caddy_header -->
      <!-- ###HEADER### end -->
      <!-- ###CONTENT### begin -->
      <!-- ###ITEM### begin -->
      <div class="caddy-accordion_product">
        <div class="caddy-accordion_col caddy-accordion_col1">
          <input  type="text" value="###QTY###" name="###QTY_NAME###" onchange="this.form.submit()" />
        </div>
        <div class="caddy-accordion_col caddy-accordion_col2">###TITLE###</div>
        <div class="caddy-accordion_col caddy-accordion_col3">###GROSS###</div>
        <div class="caddy-accordion_col caddy-accordion_col4">###SUMGROSS###</div>
        <div class="caddy-accordion_col caddy-accordion_col5">###DELETE###</div>
        <div class="caddy_cleaner"></div>
        ###ITEM_ERROR###
      </div> <!-- /caddy_product -->
      <!-- ###ITEM### end -->
      <!-- ###CONTENT### end -->
      <!-- ###FOOTER### begin -->
      <div class="caddy-accordion_footer">                        
        <div class="caddy-accordion_col caddy-accordion_col1 caddy_col_strong">#</div>
        <div class="caddy-accordion_col caddy-accordion_col2_3 caddy_col_strong">###_LOCAL_LANG_SUMGROSS###</div>
        <div class="caddy-accordion_col caddy-accordion_col4 caddy_col_strong">###SUMSUMGROSS###</div>
        <div class="caddy_cleaner"></div>
      </div> <!-- /caddy_footer -->
      <!-- ###FOOTER### end -->
    </form> <!-- /caddy -->
  </div> <!-- /caddy caddy-product-table pane -->
  <!-- ###CADDY-PRODUCT-TABLE### end --> 
  <!-- ###OPTIONS### begin -->
  ###_HTMLMARKER_CADDY_HEADER_OPTIONS###
  <div id="c###UID###-accordion-options" class="caddy caddy-options pane">
    ###MINPRICE###
    <form name="caddy" id="caddy-options" action="###TARGET###" method="post">
      <input type="hidden" name="tx_caddy_pi1[updateByCaddy]" value="1">
      <div class="caddy_options">
        ###SHIPPING_RADIO###
        ###SPECIALS_CHECKBOX###
        <div class="caddy_cleaner"></div>
      </div>
    </form> <!-- /caddy -->
  </div> <!-- /caddy caddy-options pane -->
  <!-- ###OPTIONS### end -->
  <!-- ###POWERMAIL### begin -->
  ###_HTMLMARKER_CADDY_HEADER_POWERMAIL###
  <div id="c###UID###-accordion-powermail" class="caddy caddy-powermail pane">
    <p id="c###UID###-powermail-alert">
      <em>
        ERROR: This part isn't replaced by the powermail form from below. Something with the Caddy jQuery went wrong. Sorry.
      </em>
    </p>
    <ul class="css-tabs">
      <li><a href="http://typo3-quick-shop.de/warenkorb2#tab-0">Rechnungsadresse</a></li>
      <li><a href="http://typo3-quick-shop.de/warenkorb2#tab-1">Lieferadresse</a></li>
      <li><a href="http://typo3-quick-shop.de/warenkorb2#tab-2">Kontakt</a></li>
      <li><a href="http://typo3-quick-shop.de/warenkorb2#tab-3">Deine Rechte</a></li>
    </ul>
  </div> <!-- /caddy caddy-powermail pane -->
  <!-- ###POWERMAIL### end -->
  <!-- ###PAYMENT_METHOD### begin -->
  ###_HTMLMARKER_CADDY_HEADER_PAYMENTMETHOD###
  <div id="c###UID###-accordion-paymentmethod" class="caddy caddy-payment-method pane">
    <form name="caddy" id="caddy-options" action="###TARGET###" method="post">
      <input type="hidden" name="tx_caddy_pi1[updateByCaddy]" value="1">
      <div class="caddy_options">
        ###PAYMENT_RADIO###
        <div class="caddy_cleaner"></div>
      </div>
    </form> <!-- /caddy -->
  </div> <!-- /caddy caddy-payment-method pane -->
  <!-- ###PAYMENT_METHOD### end -->
  <!-- ###ORDER### begin -->
  ###_HTMLMARKER_CADDY_HEADER_ORDER###
  <div id="c###UID###-accordion-order" class="caddy caddy-order pane">
    <em>Warenkorb</em>
  </div> <!-- /caddy caddy-order pane -->
  <!-- ###ORDER### end -->
  ###_HTMLMARKER_LINKTOSHOP###
  <div class="caddy_cleaner"></div>
</div> <!-- /c###uid###-accordion -->
<!-- ###CADDYACCORDION### end -->

<!-- ###CADDY_ITEM_ERROR### begin -->
<div class="caddy_error">###ERROR_PROMPT###</div>
<!-- ###CADDY_ITEM_ERROR### end -->


<!-- ###CADDY_PAYMENT### begin -->
<div id="caddy_payment">
  <fieldset>
    <legend>###_LOCAL_LANG_PAYMENTLABEL###</legend>
    <!-- ###CONTENT### --><!-- ###ITEM### -->
    <div class="caddy_fieldwrap_radio">###PAYMENT_RADIO### ###PAYMENT_TITLE### ###PAYMENT_CONDITION###</div>
    <!-- ###ITEM### --><!-- ###CONTENT### -->
  </fieldset>
</div>
<!-- ###CADDY_PAYMENT### end -->


<!-- ###CADDY_PAYMENT_CONDITIONS### begin -->
<ul class="caddy_payment_conditions">
  <!-- ###CONTENT### --><!-- ###ITEM### -->
  <li>###CONDITION###</li>
  <!-- ###ITEM### --><!-- ###CONTENT### -->
</ul>
<!-- ###CADDY_PAYMENT_CONDITIONS### end -->


<!-- ###CADDY_SHIPPING### begin -->
<div id="caddy_shipping">
  <fieldset>
    <legend>###_LOCAL_LANG_SHIPPINGLABEL###</legend>
    <!-- ###CONTENT### --><!-- ###ITEM### -->
    <div class="caddy_fieldwrap_radio">###SHIPPING_RADIO### ###SHIPPING_TITLE### ###SHIPPING_CONDITION###</div>
    <!-- ###ITEM### --><!-- ###CONTENT### -->
  </fieldset>
</div>
<!-- ###CADDY_SHIPPING### end -->


<!-- ###CADDY_SHIPPING_CONDITIONS### begin -->
<ul class="caddy_shipping_conditions">
  <!-- ###CONTENT### --><!-- ###ITEM### -->
  <li>###CONDITION###</li>
  <!-- ###ITEM### --><!-- ###CONTENT### -->
</ul>
<!-- ###CADDY_SHIPPING_CONDITIONS### end -->


<!-- ###CADDY_SPECIALS### begin -->
<div id="caddy_specials">
  <fieldset>
    <legend>###_LOCAL_LANG_SPECIALSLABELS###</legend>
    <!-- ###CONTENT### --><!-- ###ITEM### -->
    <div class="caddy_fieldwrap_checkbox">###SPECIALS_CHECKBOX### ###SPECIALS_TITLE### ###SPECIALS_CONDITION###</div>
    <!-- ###ITEM### --><!-- ###CONTENT### -->
  </fieldset>
</div>
<!-- ###CADDY_SPECIALS### end -->


<!-- ###CADDY_SPECIALS_CONDITIONS### begin -->
<ul class="caddy_specials_conditions">
  <!-- ###CONTENT### --><!-- ###ITEM### -->
  <li>###CONDITION###</li>
  <!-- ###ITEM### --><!-- ###CONTENT### -->
</ul>
<!-- ###CADDY_SPECIALS_CONDITIONS### end -->


<!-- ###CADDY_EMPTY### begin -->
<div class="caddy caddyempty">
  <div class="empty">
    ###_LOCAL_LANG_CADDYEMPTY###
  </div>
  ###_HTMLMARKER_LINKTOSHOP###
  <div class="caddy_cleaner"></div>
</div>

<!-- ###CADDY_EMPTY### end -->


<!-- ###CADDY_MINPRICE### begin -->
<div class="caddy_mini caddy_error">###ERROR_MINPRICE###</div>
<!-- ###CADDY_MINPRICE### end -->


<!-- ###CADDY_EMAIL### begin -->
<table border="0" cellpadding="0" cellspacing="0">
  <thead style="text-align:left;">
    <tr style="font-weight:bold;">
      <th style="border-bottom:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;width:###WIDTH_TD_QTY###;">
        ###_LOCAL_LANG_QTY###
      </th>
      <th style="border-bottom:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;width:###WIDTH_TD_SKU###;">
        ###_LOCAL_LANG_SKU_SHORT###
      </th>
      <th style="border-bottom:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;width:###WIDTH_TD_ITEM###;">
        ###_LOCAL_LANG_ITEM###
      </th>
      <th style="border-bottom:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;width:###WIDTH_TD_TAX###;">
        ###_LOCAL_LANG_TAX_ABBR###
      </th>
      <th style="border-bottom:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;width:###WIDTH_TD_NET###;">
        ###_LOCAL_LANG_PRICE_GROSS_UNIT###
      </th>
      <th style="border-bottom:1px solid ###BORDERCOLOR###;padding:.2em 0em .2em 0;;width:###WIDTH_TD_SUM###;">
        ###_LOCAL_LANG_PRICE_GROSS_UNIT_WI_QTY###
      </th>
    </tr>
  </thead>
  <!-- ###CONTENT### -->
  <!-- ###ITEM### -->
  <tbody>
    <tr>
      <td style="padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_QTY###;">
        ###QTY###
      </td>
      <td style="padding:.2em 1em .2em 0;width:###WIDTH_TD_SKU###;">
        ###SKU###
      </td>
      <td style="padding:.2em 1em .2em 0;width:###WIDTH_TD_ITEM###;">
        ###TITLE###
      </td>
      <td style="padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_TAX###;">
        ###TAXRATE###
      </td>
      <td style="padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_NET###;">
        ###GROSS###
      </td>
      <td style="padding:.2em 0em .2em 0;text-align:right;width:###WIDTH_TD_SUM###;">
        ###SUMGROSS###
      </td>
    </tr>
  </tbody>
  <!-- ###ITEM### -->
  <!-- ###CONTENT### -->
  <tfoot>
    <tr>
      <td style="border-bottom:1px solid ###BORDERCOLOR###;border-top:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_QTY###;">
        #
      </td>
      <td colspan="4" style="border-bottom:1px solid ###BORDERCOLOR###;border-top:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;width:###WIDTH_TD_SKUITEMTAXNET###;">
        ###_LOCAL_LANG_ITEMSSUMNET###
      </td>
      <td style="border-bottom:1px solid ###BORDERCOLOR###;border-top:1px solid ###BORDERCOLOR###;padding:.2em 0em .2em 0;text-align:right;width:###WIDTH_TD_SUM###;">
        ###SUMITEMSNET###
      </td>
    </tr>
    <tr>
      <td style="padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_QTY###;">
        +
      </td>
      <td colspan="4" style="padding:.2em 1em .2em 0;width:###WIDTH_TD_SKUITEMTAXNET###;">
        ###_LOCAL_LANG_OPTIONSNET###
      </td>
      <td style="padding:.2em 0em .2em 0;text-align:right;width:###WIDTH_TD_SUM###;">
        ###SUMOPTIONSNET###
      </td>
    </tr>
    <tr>
      <td style="padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_QTY###;">
        &nbsp;
      </td>
      <td colspan="3" style="padding:.2em 1em .2em 0;width:###WIDTH_TD_SKUITEMTAX###;">
        ###_LOCAL_LANG_SHIPPINGLABEL###: ###OPTIONSSHIPPINGLABEL###
      </td>
      <td style="padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_NET###;">
        ###OPTIONSSHIPPINGSUMNET###
      </td>
      <td style="padding:.2em 0em .2em 0;text-align:right;width:###WIDTH_TD_SUM###;">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td style="padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_QTY###;">
        &nbsp;
      </td>
      <td colspan="3" style="padding:.2em 1em .2em 0;width:###WIDTH_TD_SKUITEMTAX###;">
        ###_LOCAL_LANG_PAYMENTLABEL###: ###OPTIONSPAYMENTLABEL###
      </td>
      <td style="padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_NET###;">
        ###OPTIONSPAYMENTSUMNET###
      </td>
      <td style="padding:.2em 0em .2em 0;text-align:right;width:###WIDTH_TD_SUM###;">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td style="padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_QTY###;">
        &nbsp;
      </td>
      <td colspan="3">
        ###_LOCAL_LANG_SPECIALSLABELS###: ###OPTIONSSPECIALSLABELS###
      </td>
      <td style="padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_NET###;">
        ###OPTIONSSPECIALSSUMNET###
      </td>
      <td style="padding:.2em 0em .2em 0;text-align:right;width:###WIDTH_TD_SUM###;">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td style="border-top:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_QTY###;">
        +
      </td>
      <td colspan="4" style="border-top:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;width:###WIDTH_TD_SKUITEMTAXNET###;">
        ###TAXRATE_NORMAL_STRING###
      </td>
      <td style="border-top:1px solid ###BORDERCOLOR###;padding:.2em 0em .2em 0;text-align:right;width:###WIDTH_TD_SUM###;">
        ###SUMSUMTAXNORMAL###
      </td>
    </tr>
    <tr>
      <td style="padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_QTY###;">
        +
      </td>
      <td colspan="4" style="padding:.2em 1em .2em 0;width:###WIDTH_TD_SKUITEMTAXNET###;">
        ###TAXRATE_REDUCED_STRING###
      </td>
      <td style="padding:.2em 0em .2em 0;text-align:right;width:###WIDTH_TD_SUM###;">
        ###SUMSUMTAXREDUCED###
      </td>
    </tr>
    <tr>
      <td style="border-bottom:1px solid ###BORDERCOLOR###;border-top:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;text-align:right;width:###WIDTH_TD_QTY###;">
        #
      </td>
      <td colspan="4" style="border-bottom:1px solid ###BORDERCOLOR###;border-top:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;width:###WIDTH_TD_SKUITEMTAXNET###;">
        ###_LOCAL_LANG_SUMGROSS###
      </td>
      <td style="border-bottom:1px solid ###BORDERCOLOR###;border-top:1px solid ###BORDERCOLOR###;padding:.2em 0em .2em 0;text-align:right;width:###WIDTH_TD_SUM###;">
        ###SUMSUMGROSS###
      </td>
    </tr>
  </tfoot>
</table>
<br />
<!-- ###CADDY_EMAIL### end -->

<!-- ###CADDY_EMAILDELIVERY### begin -->
<table border="0" cellpadding="0" cellspacing="0">
  <thead style="text-align:left;">
    <tr style="font-weight:bold;">
      <th style="border-bottom:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;width:10%;">
        ###_LOCAL_LANG_QTY###
      </th>
      <th style="border-bottom:1px solid ###BORDERCOLOR###;padding:.2em 1em .2em 0;width:20%;">
        ###_LOCAL_LANG_SKU_SHORT###
      </th>
      <th style="border-bottom:1px solid ###BORDERCOLOR###;padding:.2em 0em .2em 0;width:70%;">
        ###_LOCAL_LANG_ITEM###
      </th>
    </tr>
  </thead>
  <!-- ###CONTENT### -->
  <!-- ###ITEM### -->
  <tbody>
    <tr>
      <td style="padding:.2em 1em .2em 0;width:###WIDTH_TD_QTY###;">
        ###QTY###
      </td>
      <td style="padding:.2em 1em .2em 0;width:20%;">
        ###SKU###
      </td>
      <td style="padding:.2em 0em .2em 0;width:70%;">
        ###TITLE###
      </td>
    </tr>
  </tbody>
  <!-- ###ITEM### -->
  <!-- ###CONTENT### -->
</table>
<br />
<!-- ###CADDY_EMAILDELIVERY### end -->

<!-- ###CADDY_REVOCATION### begin -->
<p>
  Just empty. Only for a proper workflow.
</p>
<p>
  #i0013, 130604, dwildt
</p>
<!-- ###CADDY_EMAILDELIVERY### end -->

<!-- ###CADDY_TERMS### begin -->
<p>
  Just empty. Only for a proper workflow.
</p>
<p>
  #i0013, 130604, dwildt
</p>
<!-- ###CADDY_TERMS### end -->


<!-- ###CADDY_FORM### begin --> 
<div class="caddy_form">
  <form action="###CADDY_FORM_ACTION###">
    <input type="hidden" value="###CADDY_FORM_CONTENTUID###" name="cid">
    <input type="hidden" value="###CADDY_FORM_ACTION_PID###" name="id">
    <input type="text" value="1" name="qty">
    <input type="submit" value="###_LOCAL_LANG_FORM_SUBMIT###">
  </form>
</div>
<!-- ###CADDY_FORM### end -->


<!-- ###CADDYMINI### begin --> 
<div class="caddymini">
  <!-- ###ITEMS### beginn -->
  ###ITEM###
  <!-- ###ITEMS### end -->
  ###SUM###
  ###_HTMLMARKER_LINKTOCADDY###
</div>
<!-- ###CADDYMINI### end -->


<!-- ###CADDYMINIEMPTY### begin --> 
<div class="caddymini caddyminiempty">
  <div class="empty">
    ###_LOCAL_LANG_CADDYMINIEMPTY###
  </div>
  ###_HTMLMARKER_LINKTOSHOP###
</div>
<!-- ###CADDYMINIEMPTY### end -->


<!-- ###CADDYSUM### begin --> 
<div class="caddysum">
  ###SUM###
</div>
<!-- ###CADDYSUM### end -->

<!-- ###CADDYSUMEMPTY### begin --> 
<div class="caddysum caddysumempty">
  ###_LOCAL_LANG_CADDYSUMEMPTY###
</div>
<!-- ###CADDYSUMEMPTY### end -->